//abstracts
@use '../abstracts' as abs;
@use '../base';


.advice-homepage{
    background-color: abs.$blue-dark;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.attribution{
    margin-top: 10em;
    color: abs.$cyan-light;

    a{
        color: abs.$green-neon !important;
    }
}

